.slider-arrows {
  grid-area: slider-arrows;
  position: relative;
}

.slider-arrows__items-wrapper {
  width: 100%;
  height: 100%;

  filter: brightness(80%);

  display: flex;
}

.slider-arrows__item {
  width: 100%;
}


.slider-arrows__nav {
  position: absolute;
  left: 0;
  top: 50%;

  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  transform: translateY(-50%);
}

.slider-arrows__arrow {
  color: #fff;
  font-size: 30px;
  border: 2px solid #fff;
  border-radius: 50%;

  width: 50px;
  height: 50px;

  transition: 0.2s opacity;
}
.slider-arrows__arrow:hover {
  opacity: 0.8;
}
.slider-arrows__arrow:active {
  opacity: 0.6;
}


/* media */

