.orange {
    grid-area: orange;
    position: relative;
}

.slider-dots__item, .orange img {
    width: 100%;
    height: 100%;
    filter: brightness(60%);
}

.orange__btn-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.orange__arrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.8;
    }
}


/* media */

@media (max-width: 1300px) {

}