.sidebar {
    grid-area: sidebar;
    background-color: #00c2ba;
}

.btn--rounded {
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.sidebar p + .btn {
    margin-top: 20px;
}

.sidebar .title {
    width: 100px;
}


/* media */

@media (max-width:1200px) {
   .sidebar .common__desc {
        max-width: 200px;
    }
    .sidebar {
        padding-left: 130px;
    }
}

@media (max-width: 600px) {
    .sidebar {
        padding-left: 30px;
    }
    
    .common--col-rev .common__desc, .thirsty .common__desc, .sidebar .common__desc, .common__desc {
        max-width: unset;
    }
}

@media (max-width:350px) {
    .common {
        padding: 10px;
        gap: 15px;
    }
    
}