.header {
    display: grid;
    /*
    grid-template-rows: max-content;
    grid-template-columns: 1fr 1fr 100px;
    grid-template-areas: "logo nav search";
    */

    grid-template: ". logo nav search" max-content / 2fr 1fr 2.5fr 0.5fr;
    align-items: center;
    justify-items: start;

    padding:  20px 0;

    text-transform: uppercase;
    overflow: hidden;
    user-select: none;
}

.header__logo-wrapper {
    grid-area: logo;
}

.logo {
    font-family: "Secular One", sans-serif;
    font-weight: 400;
    color: #eb564f;
    font-size: 24px;
    width: 150px;
    line-height: 1;
}

.header__nav {
    grid-area: nav;

    transform: translate(-15px);
}

.header__nav ul {
    display: flex;
    gap: 10px;
}

.header__nav a {
    padding: 15px;
    transition: color 0.3s;

    position: relative;
    display: inline-block;
}

.header__nav a:hover, .logo:hover {
    color: #54b9b4;
}

.header__nav a:active {
    color: #44a7a2;
}

.header__nav a::after {
    content: "";
    display: block;
    width: 80%;
    height: 100%;

    background-color: #54b9b4;

    position: absolute;
    left: 15px;
    bottom: -200%;

    transition: bottom 0.5s;
}

.header__nav a:hover::after {
    bottom: -80%;
}

.header__nav a:active::after {
    background-color: #44a7a2;
}

.search {
    grid-area: search;
}

.search__icon {
    transition: fill 0.5s;
}

.search__icon:hover {
    fill: #54b9b4;
}
.search__icon:active {
    fill: #44a7a2;
}

/* media */

@media (max-width: 1200px) {
    .header {
        grid-template-columns: repeat(3, max-content);
        grid-template-areas: "logo nav search";
        justify-content: space-between;
        padding: 20px;
    }
}

@media (max-width: 700px) {
    .header__nav {
        display: none;
    }

    .header__nav {
        transform: none;
    }

    .search {
        display: none;
    }

    .header {
        grid-template-columns: repeat(2, max-content);
        grid-template-areas: "logo menu-icon";
    }

    .header--mobile {
        min-height: 100vh;

        grid-template: "logo menu-icon" max-content
                       "nav nav" max-content
                       "search search";

        align-content: space-between;
        justify-items: center;
    }

    .header--mobile .search, .header--mobile .header__nav {
        display: block;
    }

    .header--mobile .header__nav ul{
        flex-direction: column;
        align-items: center;
    }

    .header__nav a::after {
        display: none;
    }

    .header__nav a {
        padding: 10px 20px;
    }
}