.btn {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #fff;
    padding: 10px 20px;

    transition: 0.2s opacity;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}

.common {
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
    padding: 30px;
}

.title {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 24px;
    width: 140px;
    font-weight: 300;
    line-height: 1;
}

.title span {
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 2px;
    display: block;
}

.title span::first-line {
    font-weight: 900;
}

.common__desc {
    max-width: 60%;
    hyphens: auto;
} 


@media (max-width:600px) {
    .common--col-rev .common__desc, .thirsty .common__desc, .common__desc {
        max-width: unset;
    }
}

