.menu-icon {
    width: 40px;
    height: 30px;
    position: relative;
}

.menu-icon::after,
.menu-icon::before {
    content: '';
    position: absolute;
    left: 0;
}

.menu-icon::after {
    bottom: 0;
    transition: transform 0.3s, bottom 0.3s 0.3s;
}

.menu-icon::before {
    top: 0;
    transition: transform 0.3s, top 0.3s 0.3s;
}

.menu-icon__line,
.menu-icon::after,
.menu-icon::before {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
}

.menu-icon--active .menu-icon__line {
    display: none;
}

.menu-icon--active::before {
    transform: translateY(-50%) rotate(45deg);
    top: 50%;

    transition: top 0.3s, transform 0.3s 0.3s;
}

.menu-icon--active::after {
    transform: translateY(50%) rotate(-45deg);
    bottom: 50%;

    transition: bottom 0.3s, transform 0.3s 0.3s;
}


.menu-icon {
    display: none;
}

@media (max-width: 700px) {
    .menu-icon {
        display: block;
        grid-area: menu-icon;
        justify-content: end;
    }
}